.main-container {
  box-sizing: border-box;
  justify-items: center;
  margin: auto;
  width: 80%;
}
.separator {
  margin: 10px 0px 20px 0px;
  display: block;
}
.main-titulo {
  color: #4A525D;
  text-align: center;
}