.container {
  display: grid;
  grid-template-columns: 100px 200px;
  grid-column-gap: 0px;

  margin: auto;
  background-color: lightgray;
  height: 133.333333px;
  margin:inherit;
  position: relative;
}
.miImagen {
  display: inline-block;
  width: 100px;
  height: 133.33333px;
}
.content {
  display: inline-block;
  width: 200px;
  height: 133.3333px;
}